<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="HospitalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALIREZA;initial catalog=Final_hospital;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="DataBase_project.Properties.Settings.Final_hospitalConnectionString"
        connectionString="Data Source=ALIREZA;Initial Catalog=Final_hospital;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>